<%- include('./partials/head.ejs') %> 
<%- include('./partials/header.ejs') %>  

<h2 class="intro">This gluten free page is to show different ways on how you can cook your everyday foods, or recipes that you're simply craving. Whether that be to change your diet for a healthier lifestyle, decrease bloating, or for people with Celiacs. 
    It can be extreamly hard for people with Celiac Disease to find public places that are safe without contaminations, this app is to help make your favorite dishes at home without the worry!
     Feel free to add your own unique recipes and share! </h2>
<div class="wrapper">
    <% allRecipies.forEach(recipie => { %>
        <div class="grid-container">
            <h1><%= recipie.name %></h1>
        <p>
            <a href="/recipies/<%= recipie._id%>">
                <img src="<%= recipie.img  %> " class="img-size img-border" alt="<%= recipie.name %> ">
            </a>
        </p>
        <p>
            <%= recipie.description %>
        </p>
        </div>
    <%   }) %>
</div>

<%- include('./partials/footer.ejs') %> 